/* page 1 */

.hackathonPage {
  width: 100vw;
}

.hackathonPage1 {
  width: 100vw;
  height: 90vh;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  /* for debugging purposes */
  border-bottom: 1px solid #000;
}

.hackathonPage1TextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  text-align: left;
}

.hackathonPage1Header {
  font-size: 3rem;
  z-index: 3;
}

.hackathonPage1Desc {
  font-size: 1.7rem;
  z-index: 3;
}

.hackathonPage1ButtonRow {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.hackathonPage1Button {
  background-color: #4ec3ceff;

  padding: 16px;
  border-radius: 12px;
  border: none;

  font-family: var(--ifm-heading-font-family);
  font-size: 16px;
  font-weight: bold;

  margin-right: 1vw;

  cursor: pointer;
  transition: all 0.25s;
}

/* ? home page 1 media queries */

@media screen and (max-width: 1230px) {
  .hackathonPage1Header {
    font-size: 2rem;
  }

  .hackathonPage1Desc {
    font-size: 1.2rem;
  }

  .hackathonPage1Button {
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
  }
}

@media screen and (max-width: 1106px) {
  .hackathonPage1 {
    justify-content: center;
    gap: 3vw;
  }
}

@media screen and (max-width: 1013px) {
  .hackathonPage1TextContainer {
    align-items: center;
    width: 80%;
  }

  .hackathonPage1Header {
    font-size: 3.5rem;
    text-align: center;
  }

  .hackathonPage1Desc {
    font-size: 1.7rem;
    text-align: center;
  }

  .hackathonPage1Button {
    font-size: 16px;
    padding: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  .hackathonPage1Header {
    font-size: 2.5rem;
  }

  .hackathonPage1Desc {
    font-size: 1.2rem;
  }

  .hackathonPage1Button {
    font-size: 14px;
    padding: 12px;
  }
}

/* page 2 */

.hackathonPage2 {
  width: 100vw;
  height: 60vh;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding-top: 5vw;

  /* for debugging purposes */
  border-bottom: 1px solid #000;
}

.hackathonPage2 p {
  width: 50%;
  font-size: 18px;
}

/* ? home page 2 media queries */

@media screen and (max-width: 1285px) {
  .hackathonPage2 {
    height: 80vh;

    justify-content: center;
    gap: 5vw;
  }

  .hackathonPage2 p {
    width: 45%;
  }

  .hackathonPage2 .title {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 993px) {
  .hackathonPage2 {
    height: 100vh;

    flex-direction: column;
    gap: 0vw;
  }

  .hackathonPage2 p {
    width: 90%;
  }
}

@media screen and (max-width: 471px) {
  .hackathonPage2 {
    height: 100vh;

    flex-direction: column;
    gap: 0vw;
  }

  .hackathonPage2 p {
    font-size: 16px;
  }

  .hackathonPage2 .title {
    font-size: 2rem;
  }
}

/* page 3 */

.hackathonPage3 {
  width: 100vw;
  height: 70vh;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 5vw;

  font-size: 18px;

  /* for debugging purposes */
  border-bottom: 1px solid #000;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 10vh;
}

/* ? home page 3 media queries */

/* page 4 */

.hackathonPage4 {
  width: 100vw;
  height: 80vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* for debugging purposes */
  border-bottom: 1px solid #000;
}

.parentColumn {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.childColumn {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h2.subtitle {
  font-size: 2.5rem;
  margin-bottom: 10vh;
}

h3.subtitle {
  font-size: 2rem;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

/* ? home page 4 media queries */
